body {
  background-color: rgb(0,0,0);
  color: rgb(114,222,68);
  text-shadow: 0 0 2px rgb(200,200,200);
  text-align:center;
  font-family: 'Share Tech Mono', monospace;
}

/* unvisited link */
a:link {
  color: rgb(0,255,0)
}

/* visited link */
a:visited {
  color: rgb(71,134,44)
}

/* mouse over link */
a:hover {
  color: rgb(255,255,255);
}

/* selected link */
a:active {
  color: rgb(0,0,255);
}

hr {
    width: 50%;
    border: 1px solid;
    color: rgb(80,151,80);
}

/* Three image containers of 100px for THM Badges */
.columnbadge {
  float: left;
  width: 100px;
  padding: 5px;
}
