body {
  background-color: rgb(0,0,0);
  color: rgb(114,222,68);
  text-shadow: 0 0 2px rgb(200,200,200);
  max-width: 640px;
  font-family: 'Share Tech Mono', monospace;
}

/* unvisited link */
a:link {
  color: rgb(0,255,0)
}

/* visited link */
a:visited {
  color: rgb(71,134,44)
}

/* mouse over link */
a:hover {
  color: rgb(255,255,255);
}

/* selected link */
a:active {
  color: rgb(0,0,255);
}

hr {
    width: 50%;
    /* default is center, below makes hr left justified */
    margin-left: 0;
    border: 1px solid;
    color: rgb(80,151,80);
}

pre {
 /* pre does not word wrap by default, below adds word wrap */
 white-space: pre-wrap;
}

/* for use with code examples */
.code {
  /* slightly brighter text color */  
  color: rgb(126,243,75);
  background-color: rgb(30,51,30);
  /* below breaks words, useful for code */  
  word-wrap: break-word;
  /* below keeps highlighting from running across page */  
  display: inline;
}
